name: Run Carbs Calculator Tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    
    - uses: actions/setup-java@v2
      with:
        java-version: '17'
        distribution: 'temurin'
    
    - run: cd cucumber-carbs-calculator && mvn clean test
