name: Run Cucumber Tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    
    - uses: actions/setup-java@v2
      with:
        java-version: '21'
        distribution: 'temurin'
    
    - name: Install Chrome
      run: sudo apt-get update && sudo apt-get install -y chromium-browser
    
    - run: cd cucumber-carbs-calculator && mvn clean test
